@media (min-width: 800px)
{
    #bigMarkAsRead
    {
        padding: 30px;
    }

    #threepanesviewcontainer
    {
        background: inherit;
        display: flex;
        overflow: hidden;

        height: calc(100% - 48px);
    }

    #threepanesviewcontainer > *
    {
        box-sizing: border-box;
        width: 50%;
        flex-shrink: 0;
        flex-grow: 1;
        overflow: auto;
        padding: 0;
        margin: 0;
        /* Override the .prompt max-width */
        max-width: initial;
    }

    body:not(.reader) #stream
    {
        resize: horizontal;
    }

    body:not(.reader) #stream .flux_content
    {
        display: none;
    }

    body:not(.reader) #stream .day
    {
        position: relative;
    }

    #threepanesview
    {
        border-left: 1px solid;
    }

    #threepanesview > .flux
    {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        border-left: none;
        background-color: transparent;
    }

    #threepanesview > .flux > .flux_header
    {
        display: none !important;
    }

    #threepanesview > .flux > .content
    {
        min-height: 0;
        flex-shrink: 0;
        flex-grow: 1;
    }

    #threepanesview > .flux > .horizontal-list
    {
        flex-grow: 0;
        flex-shrink: 0;
    }

    #threepanesview > .flux > iframe
    {
        height: 100%;
        width: 100%;
        border: 0;
       flex-grow: 1;
    }

    #threepanesview .dropdown-menu
    {
        bottom: 100%;
    }

    #threepanesview .dropdown-target:target ~ .dropdown-menu
    {
        display: flex;
        flex-direction: column;
    }

    #threepanesview .dropdown-menu::after
    {
        top: auto;
        transform: rotate(-135deg);
    }

    #mark-read-aside
    {
        overflow: hidden;
    }

    /* Specific to nord theme */
    #threepanesview > .flux > .content .website .favicon
    {
        position: initial;
    }
}
